body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin: 50px;
    background-color: darkgreen;
    color: antiquewhite;
  }
  #randomNumber {
    font-size: 24px;
    margin-top: 20px;
  }
  .floating-buttons {
    position: relative;

  }
  .floating-buttons button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
    transition: transform 0.3s ease-in-out;
    color: rgb(4, 47, 4);
    background-color: antiquewhite;
  }
  .floating-buttons button:hover {
    transform: translateX(5px) translateY(-5px);
  }
  #generateButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(4, 47, 4);
    background-color: antiquewhite;
  }

  .image-container {
    display: flex;
    align-items: flex-end;
  }

  img {
    width: 30%;
    height: 30%;
    margin-bottom: 10px;
  }