  body {
    font-family:Georgia, 'Times New Roman', Times, serif; 
    background-color:azure; 
    margin: 0;
    padding: 0;
  }
  
.container {
    max-width: 600px;
    margin: 20px auto;
    text-align: center;
    padding: 20px;
    background-color: #BFAE56;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.1);

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    margin-bottom: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
} 

.loading-container {
    display: none;
  }
  
  .loading-bar {
    width: 0;
    height: 5px;
    background-color: #4CAF50;
    transition: width 0.5s;
  }


button {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    color: #592D1D;
    background-color: #A6867B;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #A64E6E;
}

.dog-image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

  img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0, 0.2);
  }

  .text-box {
    width: 60%; 
    margin: 0 auto; 
    padding: 20px; 
    background-color: #e4e4e4;; 
    color: #0a2c0a;
}
