body, ul {
    background-color: #fff;
    color: #333;
    margin: 0;
    list-style: none;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  .website-title {
    font: size 28pt;
    font-family: Arial, sans-serif;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15px;
    }

  .menu {
    background-color: #000;
    color: #fff
    text-align: center;
  }

  .menu  ul {
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }

  .menu li{
    margin: 0 100px;
  }

  .menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
  }

  .grid-item {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
  }

  .grid-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left; 
    margin-top: 10px;
  }

  .grid-content img {
    width: 50%;
    max-width: 100%;
    height: auto;
  }

  .grid-content p {
    font-size: 16px;
    margin-left: 10px;
  }

  h2 {
    font-size: 18px;
    margin: 0;
  }

  aside {
    width: 40%;
    padding-left: 0.5rem;
    margin-left: 0.5rem;
    float: right;
  }

  .feature {
      width: 200px;
  }

  @media screen and (min-width: 500px) {
   
}

  @media screen and (max-width: 500px) {
   
}
